---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}



## Example Usage

{{ tffile "examples/resources/commonfate_access_rule/resource.tf" }}


{{ .SchemaMarkdown | trimspace }}

Creating access rules in Terraform is the exact same as creating them in the Common Fate app. Each field of the provider corresponds to fields in the access rule creation wizard, this can be used as a reference point when creating access rules in Terraform.

You can also find our documentation on creating [Access Rules here](https://docs.commonfate.io/common-fate/configuration/access-rules).